<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Swapthat world studio</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<!-- Stylesheets -->
	<link href="static/common-css/bootstrap.css" rel="stylesheet">
	<link href="static/common-css/ionicons.css" rel="stylesheet">
	<link href="static/common-css/layerslider.css" rel="stylesheet">
	<link href="static/css/styles.css" rel="stylesheet">
	<link href="static/css/responsive.css" rel="stylesheet">
</head>
<body>
	{% include "header.html" %}
	{% include "slider.html" %}

	<section class="section blog-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="blog-posts">
						<div class="single-post">
							<div class="image-wrapper"><img src="static/images/blog-1-1000x600.jpg" alt="Blog Image"></div>
							<div class="icons">
								<div class="left-area">
									<a class="btn category-btn" href="#"><b>TRAVEL</b></a>
								</div>
								<ul class="right-area social-icons">
									<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
									<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
									<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
								</ul>
							</div>
							{% for post in posts %}
							<p >published: {{ post.published_date }}</p>
							<h2><a href="">{{ post.title }}</a></h2>
                			<p>{{ post.text|linebreaksbr }}</p>
							{% endfor %}
							<h3 class="title"><a href="#"><b class="light-color">This is post about travel, adventure and fun</b></a></h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								 laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								 architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								 consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
								dolore magnam aliquam quaerat voluptatem.</p>
							<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
						</div><!-- single-post -->

						<div class="single-post">
							<div class="image-wrapper"><img src="static/images/blog-2-1000x600.jpg" alt="Blog Image"></div>

							<div class="icons">
								<div class="left-area">
									<a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
								</div>
								<ul class="right-area social-icons">
									<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
									<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
									<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
								</ul>
							</div>
							<h6 class="date"><em>Monday, October 13, 2017</em></h6>
							<h3 class="title"><a href="#"><b class="light-color">This is post for the ones that love to travel</b></a></h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								 laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								 architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								 consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
								dolore magnam aliquam quaerat voluptatem.</p>
							<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
						</div><!-- single-post -->

						<div class="row">

							<div class="col-lg-6 col-md-12">
								<div class="single-post">
									<div class="image-wrapper"><img src="static/images/blog-3-500x400.jpg" alt="Blog Image"></div>

									<div class="icons">
										<div class="left-area">
											<a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
										</div>
										<ul class="right-area social-icons">
											<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
											<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
											<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
										</ul>
									</div>
									<h6 class="date"><em>Monday, October 13, 2017</em></h6>
									<h3 class="title"><a href="#"><b class="light-color">How to paint the wall and street</b></a></h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit doloremque
										 laudantium, totam rem aperiam, eaque ipsa quae ab illo veritatis et quasi
										dolore magnam aliquam quaerat voluptatem.</p>
									<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
								</div><!-- single-post -->
							</div><!-- col-sm-6 -->

							<div class="col-lg-6 col-md-12">
								<div class="single-post">
									<div class="image-wrapper"><img src="static/images/blog-4-500x400.jpg" alt="Blog Image"></div>

									<div class="icons">
										<div class="left-area">
											<a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
										</div>
										<ul class="right-area social-icons">
											<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
											<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
											<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
										</ul>
									</div>
									<h6 class="date"><em>Monday, October 13, 2017</em></h6>
									<h3 class="title"><a href="#"><b class="light-color">One more night in the local clubs</b></a></h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit doloremque
										 laudantium, totam rem aperiam, eaque ipsa quae ab illo veritatis et quasi
										dolore magnam aliquam quaerat voluptatem.</p>
									<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
								</div><!-- single-post -->
							</div><!-- col-sm-6 -->

							<div class="col-lg-6 col-md-12">
								<div class="single-post">
									<div class="image-wrapper"><img src="static/images/blog-5-500x400.jpg" alt="Blog Image"></div>

									<div class="icons">
										<div class="left-area">
											<a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
										</div>
										<ul class="right-area social-icons">
											<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
											<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
											<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
										</ul>
									</div>
									<h6 class="date"><em>Monday, October 13, 2017</em></h6>
									<h3 class="title"><a href="#"><b class="light-color">A new festival in your town</b></a></h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit doloremque
										 laudantium, totam rem aperiam, eaque ipsa quae ab illo veritatis et quasi
										dolore magnam aliquam quaerat voluptatem.</p>
									<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
								</div><!-- single-post -->
							</div><!-- col-sm-6 -->

							<div class="col-lg-6 col-md-12">
								<div class="single-post">
									<div class="image-wrapper"><img src="static/images/blog-6-500x400.jpg" alt="Blog Image"></div>

									<div class="icons">
										<div class="left-area">
											<a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
										</div>
										<ul class="right-area social-icons">
											<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
											<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
											<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
										</ul>
									</div>
									<h6 class="date"><em>Monday, October 13, 2017</em></h6>
									<h3 class="title"><a href="#"><b class="light-color">How to make your home modern</b></a></h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit doloremque
										 laudantium, totam rem aperiam, eaque ipsa quae ab illo veritatis et quasi
										dolore magnam aliquam quaerat voluptatem.</p>
									<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
								</div><!-- single-post -->
							</div><!-- col-sm-6 -->

							<div class="col-lg-12 col-md-12">
								<div class="single-post post-style-2">
									<div class="image-wrapper width-50 left-area">
										<img src="static/images/blog-7-500x400.jpg" alt="Blog Image"></div>

									<div class="post-details width-50 right-area">

										<div class="icons">
											<div class="left-area">
												<a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
											</div>
											<ul class="right-area social-icons">
												<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
												<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
												<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
											</ul>
										</div>
										<h6 class="date"><em>Monday, October 13, 2017</em></h6>
										<h3 class="title"><a href="#"><b class="light-color">How to througn the best engagement party</b></a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit doloremque
											 laudantium, totam rem aperiam, eaque ipsa quae ab illo veritatis et quasi
											dolore magnam aliquam quaerat voluptatem.</p>
										<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
									</div><!-- post-details -->

								</div><!-- single-post -->
							</div><!-- col-sm-6 -->

						</div><!-- row -->

						<a class="btn load-more-btn" target="_blank" href="#">LOAD OLDER POSTS</a>

					</div><!-- blog-posts -->
				</div><!-- col-lg-4 -->

				{% include "sidebar.html" %}

			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->

	{% include "footer.html" %}
	
	<!-- SCRIPTS -->
	<script src="static/common-js/jquery-3.1.1.min.js"></script>
	<script src="static/common-js/tether.min.js"></script>
	<script src="static/common-js/bootstrap.js"></script>
	<script src="static/common-js/layerslider.js"></script>
	<script src="static/common-js/scripts.js"></script>
</body>
</html>
